@import url(reset.css);
@import url("http://fonts.googleapis.com/earlyaccess/notosansjapanese.css");
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");


*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans Japanese', sans-serif;
    font-size: 1.6em;
    background-color:#87ceeb;
}



header {
    width: 100%;
    min-width: 1024px;
    
}

main {
    width: 1024px;
    margin: 0 auto;
    padding-top: 25px;
    background-image:  top center/contain no-repeat;
}

footer {
    width: 100%;
    min-width: 1024%;
    margin: 0 auto;
}

a{
    color: #212121;
    text-decoration: none;
}

nav a:hover,
.foot-nav a:hover {
    text-decoration: underline;
}

header table a:not(.site-name),
.link-btn,
form button,
.sns a {
    transition: .2s all;
}

header table a:not(.site-name):hover,
.link-btn:hover,
form button:hover,
.sns a:hover {
    background: #212121;
    color: #87ceeb;
}




header nav {
    border-bottom: 2px solid #212121;
    padding: 1em 0;
    background: #86ebb8;
    text-align: center;
    margin: 0;
}


header nav a {
    display: inline-flex;
}

header nav a + a {
    margin-left: 2em;
} 

header table {
    width: 90%;
    margin: 20px auto;
}

header table td {
    text-align: center;
    vertical-align: middle;
}

header table tr:nth-of-type(1) td {
    border-bottom: 2px solid #212121;
}

header table tr:nth-of-type(1) td[rowspan="2"] {
    border-right: 2px solid #212121;
    border-bottom: none;
    border-left: 2px solid #212121;
}

header a {
    display: block;
    padding: .5em;
}

header h1 a {
    display: inline-block;
    font-size: 2em;
}

section table {
    text-align: left;
}


section {
    text-align: center;
}

section + section {
    margin-top: 50px;
}

section h2 {
    font-size: 3em;
}



section p {
    line-height: 1.6;
    text-decoration: underline;
}

.first-view {
    width: 80%;
    margin: 0 auto;
    background: #e0ffff;
    padding: 50px 0 30px;
}

.first-view p {
    margin: 20px 0;
}

.adsense {
    background: #e0ffff;
    padding: 50px 0;
}

.adsense h2 {
    width: 80%;
    border-bottom: 0px solid #212121;
    display: inline-block;
    color: white;
    font-family: "Rounded Mplus 1c";
    font-size: 4em;
    font-weight: 900;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #212121;
    padding: 0.5em;
}

.adsense h3 {
    font-size: 2em;
    margin: 0.7em 0 0.7em;
}

.adsense ul {
    margin: 10px;
    font-size: 18px;
}

table th {
    padding: 1em;
    text-align: right;
}

table td {
    font-size: 18px;
    padding: 1em;
}



.images {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}

.images h2,
.images p,
a .link-btn {
    width: 100%;
}

.images p {
    margin: 1.5em 0 3em;
}

.images figure{
    width: 30%;
} 

.images figure:nth-of-type(2) {
    margin: 0 auto;
}

.images figure figcaption {
    margin-top: 2em;
}

.images figure picture,
.images figure img {
    max-width: 100%;
}

.images .link-btn {
    margin: 4em auto 0;
}


footer {
    background:#86ebb8 ;
    border-top: 2px solid #212121;
    padding: 50px 0 20px;
}


.copyright {
    display: block;
    text-align: center;
    margin-top: 2em;
}